.workspace {
  margin: 0px 5px;
}

.workspace.active {
  border-radius: 5px;
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.text {
  padding: 5px;
  color: rgb(110, 110, 110);
  font-size: 12px;
}

.text-group {
  padding: 6px 3px 5px 0px;
  color: rgba(110, 110, 110, 0.6);
  font-size: 12px;
}

.workspace.active .text,
.workspace.active-no-indicator .text {
  color: white;
}

.app.active {
  border-top: 2px solid white;
  border-radius: 5px;
}

.no-indicator {
  border: none !important;
}

.no-rounded {
  border-radius: 0px !important;
}
