.workspace {
  margin: 0px 5px;
  border: 2px solid transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 5px;
}

.active {
  border: 2px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
}

.workspace-text {
  padding: 5px;
  color: rgb(110, 110, 110);
  font-size: 12px;
}

.active-workspace .workspace-text {
  color: white;
}

.app-icon-active {
  border-top: 2px solid white;
  border-radius: 5px;
}
