/*
  please document margin and padding values,
  the hardest thing to get right in css
 */

/* list of available classes (all prefixed with wboa-)

  label: font size of labels
  active > label (direct child): toggle color of labels

  workspace: indicator spacing
  workspace > label (direct child): workspace label color and spacing

  app (:hover and :focus): app icon hover effect
  app > label (direct child): app group label color and spacing

  rounded: round borders (5px)
  panel-rounded: round borders (15px)
  no-rounded: do not round borders

  top: space for placing indicator at top
  top active (same element): indicator at top
  top no-indicator (same element): always disable indicator at top (add space for placing)

  bottom: space for placing indicator at bottom
  bottom active (same element): indicator at bottom
  bottom no-indicator (same element): always disable indicator at bottom (add space for placing)
*/

/* --- labels (workspace name and apps count) --- */
/* label size managed by size-workspace-label setting */
.wboa-active > .wboa-label {
  color: rgba(255, 255, 255, 1) !important;
}

/* --- workspace indicator --- */
.wboa-workspace {
  border: none;
  /* space horizontally indicators */
  margin-left: 2px;
  margin-right: 2px;
}

/* --- workspace label --- */
.wboa-workspace > .wboa-label {
  color: rgba(255, 255, 255, 0.5);
  /* space horizontally from icons */
  margin-right: 2px;
  margin-left: 2px;
}
.wboa-workspace.wboa-top > .wboa-label {
  /* fix vertical offset when workspace indicator position is bottom */
  padding-bottom: 3px;
}

/* --- app icon --- */
/* app icon size managed by size-app-icon setting */
.wboa-app:hover, .wboa-app:focus {
  /* hover effect */
  margin-top: -2px;
}

/* --- apps group label (x2, x3, ...) --- */
.wboa-app > .wboa-label {
  color: rgba(255, 255, 255, 0.4);
  /* space horizontally app groups */
  margin-right: 2px;
}

/* --- COMMON --- */

/* round indicator borders */
.wboa-rounded {
  border-radius: 5px;
}
/* round panel button borders */
.wboa-panel-rounded {
  border-radius: 15px !important;
}
/* do not round indicator borders */
.wboa-no-rounded {
  border-radius: 0px !important;
}

/* --- TOP indicators --- */
.wboa-top {
  border: none;
  /* simulate presence of active indicator */
  margin-top: 2px;
}
.wboa-top.wboa-active {
  border-top: 2px solid white;
  /* disable simulation of presence of active indicator */
  margin-top: 0px;
}
.wboa-top.wboa-no-indicator {
  border: none !important;
  /* simulate presence of active indicator */
  margin-top: 2px;
}

/* --- BOTTOM indicators --- */
.wboa-bottom {
  border: none;
  /* simulate presence of active indicator */
  margin-bottom: 2px;
}
.wboa-bottom.wboa-active {
  border-bottom: 2px solid white;
  /* disable simulation of presence of active indicator */
  margin-bottom: 0px;
}
.wboa-bottom.wboa-no-indicator {
  border: none !important;
  /* simulate presence of active indicator */
  margin-bottom: 2px;
}
